* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.box,
.box_double {
    background-color: dodgerblue;
    border: 1px solid white;
    min-height: 80px;
    padding: 12px;
    color: white;
    text-align: center;
}

.box_double {
    min-height: 160px;
}

.box_nested {
    background-color: limegreen;
    border: 1px solid dodgerblue;
    height: 100%;
    padding: 12px;
    color: white;
    text-align: center;
}

section,
.section_without_h {
    margin-bottom: 20px;
}

.justify_content_center {
    justify-content: center;
}

.justify_content_flex_end {
    justify-content: flex-end;
}

.justify_content_space_around {
    justify-content: space-around;
}

.justify_content_space_between {
    justify-content: space-between;
}

.align_items_center {
    align-items: center;
}

.align_items_flex_end {
    align-items: flex-end;
}
